input {font-family: monospace,monospace;}

.wrapper {
    display: grid;
    grid-template-areas:
        "top"
        "middle"
        "bottom";
}

.side-panel {grid-area: top;}
.side-panel-toggle {grid-area: middle;}
.main {
    grid-area: bottom;
    overflow: scroll;
    height: 50vh;
}

.sp-icon-open {display: none;}

.side-panel-close .side-panel {display: none;}
.side-panel-close .sp-icon-open {display: initial;}
.side-panel-close .sp-icon-close {display: none;}