body {font-family: Roboto;}

.wrapper {
    display: grid;
    grid-template-areas:
        "top"
        "middle"
        "bottom";
    grid-template-rows: auto auto 1fr;
    height: calc(100vh - 16px);
}

.side-panel {grid-area: top;}
.side-panel-toggle {
    grid-area: middle;
    display: grid;
}
.main {
    grid-area: bottom;
    overflow: scroll;
}

.sp-icon-open {display: none;}

.side-panel-close .side-panel {display: none;}
.side-panel-close .sp-icon-open {display: initial;}
.side-panel-close .sp-icon-close {display: none;}